.ywglbox{
    margin-left: -15px;
    margin-right: -15px;
    background-color: #132233;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.sub_nav{
    margin-top: 20px;
}
.sub_nav a{
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    border: 1px solid #35485D;
    color: #ffffff;
    text-decoration: none;
    position: relative;
}
.sub_nav a.active{
    background-color: #2B4058;
}
.sub_nav a.active::before{
    content: '';
    border-top: 6px solid #FFFFFF;
    border-right: 6px solid transparent;
    position: absolute;
    left: 0px;
    top: 0px;
}
.sub_nav a:hover{
    background-color: #2B4058;
}
.gzzsbox{
    margin-top: 20px;
    height: 455px;
    background-color: #18293C;
}
.xfztbox{
    margin-top: 20px;
    height: 375px;
    background-color: #18293C;
}